.color-toolbox .palette {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;

    > .palette-color {
        cursor: pointer;
        position: relative;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;

        &:hover {
            transform: scale(1.2);
        }

        &:active {
            transform: scale(1.1);
        }
    }
}

.color-toolbox .input-current-color {
    width: 100%;
}
